body {
	background-color:#919191;
}

h1 {
	font-family:"helvetica", sans-serif;
}

body, p, ol, ul, td {
	font-family:"univers", sans-serif;
	font-color:#ffffff;
}

div.container {
	width:100%;
	margin:0px;
	border:solid;
	background-color:#ffffff;
}

div.logo {
	position:absolute;
	display:inline-block;
	left:50%;
	margin-left:-300px;
	top:0px;
	width:600px;
	height:400px;
	border:solid;
	background-color:red;
}

div.content {
	margin-top:450px;
}

/* Navigation */

div.linkBox{
	width:15%;
	height:100%;
	float:left;
	border:solid;
	background-color:yellow;
}

div.linkSpacer{
	height:100px;
	border:solid;
	background-color:brown;
}

div.link {
	width:90px;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	background-color:orange;
}

.link a {
	font-size:20px;
	font-family:"univers", sans-serif;
	text-decoration:none;
	font-color:#ffffff;
}

.link a:active {
	font-size:20px;
	font-family:"univers", sans-serif;
	text-decoration:none;
	font-color:#ffffff;
}

.link a:visited {
	font-size:20px;
	font-family:"univers", sans-serif;
	text-decoration:none;
	font-color:#ffffff;
}

.link a:hover {
	font-size:20px;
	font-family:"univers", sans-serif;
	text-decoration:underline;
	font-color:#ffffff;
}

/* Blog */

div.blogPost {
	width:550px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	background-color:blue;
}

.blogPost h2 {
	font-family:"garamond", serif;
	padding-top:20px;
	padding-left:25px;
	text-align:center;
}

div.blogText {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	background-color:purple;
}

.blogText p {
	font-family:"univers", sans-serif;
	padding-left:40px;
	padding-right:25px;
	font-size:15px;
	line-height:20px;
}

p.postDate {
	font-family:"garamond", serif;
	padding-bottom:10px;
	padding-left:15px;
	font-size:12px;
	line-height:5px;
	font-weight:bold;
	text-align:right;
}

/* Portfolio */

div.gallery {
	float:left;
	padding:0.2em 0.6em;
	margin-left:75px;
	height:175px;
	filter:alpha(opacity=8);
		-moz-opacity:0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
}

.gallery p {
	text-align: center;
	font-family:"hoefler", "garamond", serif;
	font-size:10.5pt;
}

.gallery a {
	font-family:"garamond", serif;
	color:#116050;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:active {
	color:#116050;
	font-family:"garamond", serif;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:visited {
	font-family:"garamond", serif;
	color:#116050;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:hover {
	font-family:"garamond", serif;
	color:#703b14;
	text-decoration:none;
	font-size:10.5pt;
}