body {
	background-color:#dbdbdb;
	background-image:url("/images/gradient-stars.png");
	background-repeat: repeat-x;
	background-position:top;
}

h1 {
	font-family:"helvetica", sans-serif;
}

body, p, ol, ul, td {
	font-family:"optima", sans-serif;
	color:#000000;
}

div.fadeIn {
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background-color:#000018;
	z-index:500;
}

div.logo {
	position:absolute;
	display:inline-block;
	left:50%;
	margin-left:-300px;
	top:0px;
	width:600px;
	height:250px;
	background-image:url("/images/firenorth-logo.png");
	background-position:top;
	z-index:1000;
}

div.sidebarImage {
	position:fixed;
	top:0px;
	right:100px;
	width:150px;
	background-image:url("/images/sidebar.png");
	z-index:400;
}

div.content {
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
}

/* Navigation */

div.linkSpacer{
	height:75px;
}

div.link {
	position:fixed;
	height:40px;
	width:175px;
	margin-left:25px;
	z-index:100;
	background-color:#e6e6e6;
	opacity:0.6;
	box-shadow: 5px 5px 10px #888;
}

.link:hover {
	opacity:0.73;
}

.link p {
	font-family:"optima", sans-serif;
	font-size:20px;
	text-align:center;
}

.link a {
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	color:#6D7B8D;
	padding-top:20px;
	text-align:center;
}

.link a:active {
	text-decoration:none;
	color:#6D7B8D;
}

.link a:visited {
	text-decoration:none;
	color:#6D7B8D;
}

.link a:hover {
	text-decoration:none;
	color:#4b4b4b;
}

div#one {
	margin-top:20px;
}

div#two {
	margin-top:95px;
}

div#three {
	margin-top:170px;
}

div#four {
	margin-top:255px;
}

/* Blog */

div.blogPost {
	width:550px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
  background-color:#e6e6e6;
	border-radius:15px;
	opacity:0.7;
	box-shadow: 5px 5px 10px #888;
}

.blogPost h2 {
	font-family:"garamond", serif;
	padding-top:20px;
	text-align:center;
}

.blogPost a {
	font-family:"optima", sans-serif;
	text-decoration:none;
	color:#4b4b4b;
	text-align:center;
}

.blogPost a:active {
	text-decoration:none;
	color:#4b4b4b;
}

.blogPost a:visited {
	text-decoration:none;
	color:#4b4b4b;
}

.blogPost a:hover {
	text-decoration:underline;
	color:#4b4b4b;
}

div.blogText {
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

.blogText p {
	font-family:"univers", sans-serif;
	padding-bottom:25px;
	font-size:15px;
	line-height:20px;
	font-color:#000000;
}

.blogText a {
	font-family:"optima", sans-serif;
	text-decoration:none;
	color:#4b4b4b;
	text-align:center;
	font-weight:bold;
}

.blogText a:active {
	text-decoration:none;
	color:#4b4b4b;
}

.blogText a:visited {
	text-decoration:none;
	color:#4b4b4b;
}

.blogText a:hover {
	text-decoration:underline;
	color:#4b4b4b;
}

.blogText img {
	opacity:0.65;
	box-shadow: 5px 5px 10px #888;
}

.blogText img:hover {
	opacity:0.95;
}

p.postDate {
	font-family:"garamond", serif;
	padding-bottom:10px;
	padding-right:15px;
	font-size:12px;
	line-height:5px;
	font-weight:bold;
	text-align:right;
}

/* Portfolio */

div.gallery {
	float:left;
	padding:0.2em 0.6em;
	margin-left:5px;
	margin-top:25px;
	height:175px;	
}

.gallery p {
	text-align: center;
	font-family:"optima", sans-serif;
	font-size:10.5pt;
}

.gallery img {
	opacity:0.65;
	box-shadow: 5px 5px 10px #888;
}

.gallery img:hover {
	opacity:0.95;
}

.gallery a {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:active {
	color:#4b4b4b;
	font-family:"optima", sans-serif;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:visited {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:hover {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}