body {
	background-color:#dbdbdb;
}

h1 {
	font-family:"helvetica", sans-serif;
}

body, p, ol, ul, td {
	font-family:"optima", sans-serif;
	color:#000000;
}

div.container {
	width:100%;
	margin:0px;
}

div.logo {
	position:absolute;
	display:inline-block;
	left:50%;
	margin-left:-300px;
	top:0px;
	width:600px;
	height:350px;
	background-color:black;
}

div.content {
	margin-top:375px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
}

/* Navigation */

div.linkSpacer{
	height:75px;
}

div.link {
	position:fixed;
	width:15%;
	margin-top:20px;
	margin-left:25px;
	z-index:100;
}

.link a {
	font-size:20px;
	font-weight:bold;
	font-family:"optima", sans-serif;
	text-decoration:none;
	color:#6D7B8D;
	text-align:center;
}

.link a:active {
	text-decoration:none;
	color:#6D7B8D;
}

.link a:visited {
	text-decoration:none;
	color:#6D7B8D;
}

.link a:hover {
	font-size:20px;
	text-decoration:none;
	color:#4b4b4b;
}

div#one {
	margin-top:20px;
}

div#two {
	margin-top:90px;
}

div#three {
	margin-top:160px;
}

/* Blog */

div.blogPost {
	width:550px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	border:solid 1px;
}

.blogPost h2 {
	font-family:"garamond", serif;
	padding-top:20px;
	text-align:center;
}

.blogPost a {
	font-family:"garamond", serif;
	text-decoration:none;
	color:#4b4b4b;
	text-align:center;
}

.blogPost a:active {
	text-decoration:none;
	color:#4b4b4b;
}

.blogPost a:visited {
	text-decoration:none;
	color:#4b4b4b;
}

.blogPost a:hover {
	text-decoration:none;
	color:#4b4b4b;
}

div.blogText {
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

.blogText p {
	font-family:"univers", sans-serif;
	padding-left:40px;
	padding-right:25px;
	padding-bottom:25px;
	font-size:15px;
	line-height:20px;
	font-color:#000000;
}

.blogText a {
	font-family:"optima", sans-serif;
	text-decoration:none;
	color:#4b4b4b;
	text-align:center;
}

.blogText a:active {
	text-decoration:none;
	color:#4b4b4b;
}

.blogText a:visited {
	text-decoration:none;
	color:#4b4b4b;
}

.blogText a:hover {
	text-decoration:none;
	color:#ffccff;
}

p.postDate {
	font-family:"garamond", serif;
	padding-bottom:10px;
	padding-right:15px;
	font-size:12px;
	line-height:5px;
	font-weight:bold;
	text-align:right;
}

/* Portfolio */

div.gallery {
	float:left;
	padding:0.2em 0.6em;
	margin-left:5px;
	margin-top:25px;
	height:175px;
	filter:alpha(opacity=8);
		-moz-opacity:0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
}

.gallery p {
	text-align: center;
	font-family:"optima", sans-serif;
	font-size:10.5pt;
}

.gallery a {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:active {
	color:#4b4b4b;
	font-family:"optima", sans-serif;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:visited {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}

.gallery a:hover {
	font-family:"optima", sans-serif;
	color:#4b4b4b;
	text-decoration:none;
	font-size:10.5pt;
}