<html>
  <head>
    <% content_for :title, "FireLight -- About Us" %>
    <%= stylesheet_link_tag "stylesheet" %>
  </head>
  <body>
    <h1>We're too sexy for the internet.</h1>
    
    <br><br>
    
    <%= link_to 'Go Back Home', posts_path %>
  </body>
</html>