<html>

<head>
  <% content_for :title, "FireLight -- What We Do" %>
  <%= stylesheet_link_tag "stylesheet" %>
  
  
</head>

<body>
  <h3>We do things correctly. Here's how!</h3>
  
  <div class="gallery">
    <img src="/images/SnarkBusThumb.png">
  </div>
</body>

</html>