<html>

<head>
  <% content_for :title, "FireLight -- What We Do" %>
  <%= stylesheet_link_tag "stylesheet" %>
  
  
</head>

<body>
  <h3>We do things correctly. Here's how!</h3>
  
  <br><br>
  
  <%= link_to 'Go Back Home', posts_path %>
</body>

</html>