<% div_for post do %>
  <div class="blogPost">
    
    <h2>
      <%= link_to_unless_current h(post.title), post %>
    </h2>
    
    <p class="postDate">
      <%= post.created_at.strftime("%A %B %d, %Y") %>
    </p>
    
    <div class="blogText">      
      <%= raw RedCloth.new(post.body).to_html %>
    </div>
    
  </div>
<% end %>