<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <% content_for :title, "FireNorth -- Edit Post" %>
    <%= stylesheet_link_tag "/public/stylesheets/stylesheet.css" %>
  </head>
  <body>
    <div class="logo"></div>     
    <div class="header"></div>
    <div class="sidebarImage"></div>
    <div class="content">
      <div class="linkSpacer"></div>

      <h1>Edit Post</h1>
      
      <%= render 'form' %>
      
      <%= link_to 'Show', @post %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </body>
</html>
      