<h1>Listing whos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @whos.each do |who| %>
  <tr>
    <td><%= link_to 'Show', who %></td>
    <td><%= link_to 'Edit', edit_who_path(who) %></td>
    <td><%= link_to 'Destroy', who, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Who', new_who_path %>
